<div class="container" style="padding-left: 145px;">

    
    <h2>Your Profile</h2>  <br>         
    <table class="table" style="font-weight: 600; font-size:20px ;">
      
      <tbody>
        <tr>
          <td>Admin Id</td>
          <td>{{admin.adminId}}</td>
         
        </tr>
        <tr>
          <td>Name</td>
          <td>{{ admin.fullName }}</td>
         
        </tr>
        <tr>
          <td>Date Of Birth</td>
          <td>{{ admin.adminDob }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ admin.email }}</td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td>{{ admin.mobile }}</td>
          </tr>
        <tr>
            <td>City</td>
            <td>{{ admin.city }}</td>
          </tr>
          <tr>
            <td>State</td>
            <td>{{ admin.state }}</td>
          </tr>
      </tbody>
    </table>
  
</div> 
