
<div class="container" style="padding-left: 145px;">
    <h3>Your Test Report:</h3>
    <table class="table" style="font-weight: 200; font-size: 17px;">
        <!-- <thead style="text-align: center;">
            <th>Feild</th>
            <th>Value</th>
        </thead> -->
        <tbody>
            <tr>
                <td><b>User ID:</b> </td>
                <td>{{userObj.userId}} </td>
            </tr>
            <tr>
                <td><b>Status:</b></td>
                <td>{{statusString}}</td> 
            </tr>
            <tr>
                <td><b>Full Name:</b></td>
                <td>{{userObj.fullName}} </td>
            </tr>
            <tr>
                <td><b>Email ID:</b></td>
                <td>{{userObj.email}} </td>
            </tr>
            <tr>
                <td><b>Marks:</b></td>
                <td>{{marksString}} </td>
            </tr>
            <tr>
                <td><b>Exam Spec:</b></td>
                <td>{{examSpecDetail}} </td>
            </tr>
            <tr>
                <td><b>Exam Level:</b></td>
                <td>{{examLevelDetail}} </td>

            </tr>
            
        </tbody>
    </table>
    <br>
    <!-- <button class="btn btn-primary" (click)="sendMail()">Send this report to email</button> -->
    <br>
    <button class="btn btn-success" *ngIf="levelButton==1" (click)="proceed()">Proceed to next level</button>
    <br>
    <button class="btn btn-primary" *ngIf="levelButton==2" (click)="proceedBack()">Try Again</button>
    <br><br><br><br><br>
</div>
