<div class="container" style="width: 50%;">
    
    <h2>View User Details here</h2>
      <form #regForm="ngForm" (ngSubmit)="regForm.valid && viewuser()">
  
        <div class="form-group">
          <br>
          <label for="email">Enter User ID: </label> <span style="color:red;"> *</span>
          <input [(ngModel)]=userObj.userId
            type="text"
            class="form-control"
            id="id"
            name="t1"
            required
            #em="ngModel" />
          <div *ngIf="regForm.submitted && em.invalid && (em.dirty || em.touched)" class="alert alert-danger">
            <div *ngIf="em.errors?.required"><i>! User ID is required</i></div>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      
  </div>
<br><br><br>
<router-outlet></router-outlet>
