<div class="container">
    <h2>Welcome to our User Registration Page !</h2>
    <h3>We are delighted to have you on our platform <angular-emojis [name]="'smile'" size="25"></angular-emojis></h3>
    <p style="margin-left: 82%;">Already Registered ? <a [routerLink]="['/loginLink']">Click Here</a></p>
    <form  #regForm="ngForm" (ngSubmit)="regForm.valid && process()">

      <div class="form-group">
        <br>
        <label for="username">Please Enter Your Name: </label><span style="color:red;"> *</span>
        <input [(ngModel)]=userObj.fullName
          class="form-control" 
          type="text" 
          id="username" 
          name="t1"
          required
          minlength="2"
          pattern="^[A-Za-zÀ-ÿ ,.'-]+$"
          #name="ngModel"/>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors?.required"><i>! Valid Name required</i></div>
          <div *ngIf="name.errors?.minlength">! Name must be more than 2 characters</div>
          <div *ngIf="name.errors?.pattern">! Valid Name required !</div>
        </div>  
      </div>
      

      <div class="form-group">
        <label for="useremail">Enter your Email ID: </label> <span style="color:red;"> *</span>
        <input [(ngModel)]=userObj.email
          type="email"
          class="form-control"
          id="useremail"
          name="t3"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          #em="ngModel" />
        <div *ngIf="em.invalid && (em.dirty || em.touched)" class="alert alert-danger">
          <div *ngIf="em.errors?.required"><i>! Email ID is required</i></div>
          <div *ngIf="em.errors?.pattern">Please enter a Valid Email ID</div>
        </div>
      </div>

      <div class="form-group">
        <label for="userpass">Enter your Password: </label> <span style="color:red;"> *</span>
        <input [(ngModel)]=userObj.password 
          type="password"
          class="form-control"
          id="userpass"
          name="t4"
          required
          
          #pass="ngModel" />
        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
          <div *ngIf="pass.errors?.required"><i>! Password is required</i></div>
          
        </div>  
      </div>

      <div class="form-group">
        <label for="userdob">Enter your Date of Birth: </label><span style="color:red;"> *</span>
        <input [(ngModel)]=userObj.dateOfBirth 
          type="date"
          id="userdob"
          class="form-control"
          name="t5"
          required
          #dob="ngModel" />
        <div *ngIf="dob.invalid && (dob.dirty || dob.touched)" class="alert alert-danger">
          <div *ngIf="dob.errors?.required"><i>! DOB is required</i></div>
        </div>  
      </div>
      
      <div class="form-group">
        <label for="usercity">Enter your city:</label><span style="color:red;"> *</span>
        <input [(ngModel)]=userObj.city
          type="text"
          id="usercity"
          name="t6"
          required
          class="form-control"
          #city="ngModel" />
          <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
            <div *ngIf="city.errors?.required"><i>! City is required</i></div>
          </div>
      </div>

      <div class="form-group">
        <label for="usermob">Enter your Mobile Number:</label><span style="color:red;"> *</span>
        <input [(ngModel)]=userObj.mobile
          type="text"
          id="usermob"
          name="t7"
          required
          minlength="10"
          maxlength="10"
          class="form-control"
          #mobile="ngModel" />
          <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">
            <div *ngIf="mobile.errors?.required"><i>! Mobile number is required</i></div>
            <div *ngIf="mobile.errors?.minlength"><i>! 10 digits are required</i></div>
            <div *ngIf="mobile.errors?.maxlength"><i>! 10 digits are allowed only</i></div>
          </div>
      </div>

      <div class="form-group">
        <label for="userstate">Enter your State:</label><span style="color:red;"> *</span>
        <input [(ngModel)]=userObj.state
          type="text"
          id="userstate"
          name="t8"
          required
          class="form-control"
          #state="ngModel" />
          <div *ngIf="state.invalid && (state.dirty || state.touched)" class="alert alert-danger">
            <div *ngIf="state.errors?.required"><i>! State is required</i></div>
          </div>
      </div>

      <div class="form-group">
        <label for="userquali">Enter your Educational Qualification:</label><span style="color:red;"> *</span>
        <input [(ngModel)]=userObj.qualification
          type="text"
          id="userquali"
          name="t9"
          required
          class="form-control"
          #quali="ngModel" />
          <div *ngIf="quali.invalid && (quali.dirty || quali.touched)" class="alert alert-danger">
            <div *ngIf="quali.errors?.required"><i>! Educational Qualification is required</i></div>
          
          </div>
      </div>

      <div class="form-group">
        <label for="useryoc">Enter your Year of Completion:</label><span style="color:red;"> *</span>
        <input [(ngModel)]=userObj.yearOfCompletion
          type="text"
          id="useryoc"
          name="t10"
          required
          class="form-control"
          #yoc="ngModel" />
        <div *ngIf="yoc.invalid && (yoc.dirty || yoc.touched)" class="alert alert-danger">
          <div *ngIf="yoc.errors?.required"><i>! Qualification Year is required</i></div>
        </div>  
      </div>
    

      <button type="submit" class="btn btn-success">Register Now</button>
    </form>
    <br><br><br>
    <p style="text-align:center;">Created with <angular-emojis [name]="'heart'" size="15"></angular-emojis> using HéxisEngine</p>
  </div> 
  



