<div class="header">
    <h2>
        Welcome to Héxis !
    </h2>
</div>

<div class="topnav">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Register</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">About Us</a></li>
    </ul>
</div>

<div class="landingBody">

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo debitis itaque perferendis at inventore aspernatur obcaecati autem numquam sequi architecto nostrum, ea, alias eligendi voluptas quas! Corrupti distinctio cupiditate eveniet?
    </p>
    <br><br><br><br>
<div style="text-align: center;">
    <a href="" >Admin Area</a>
    <a href="">User Area</a>
</div>
   










<br><br><br><br><br><br><br><br><br><br>
</div>

<div class="footer">
    All rights reserved &copy; Héxis Test Solutions 2021
</div>