<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" type="text/javascript"></script>
</head>


<div class="topnav" *ngIf='istopnav==true'>
    <img class="hexislogo" src="assets/Hexis-logo-ver2.svg" alt="Hexis-logo">
    <ul>
        <li><a [routerLink]="['/homeLink']">Home</a></li>
        
        <li><a [routerLink]="['/registerLink']">Register</a></li>
        <li *ngIf="enabled==0"><a [routerLink]="['/loginLink']">Login</a></li>
        <li *ngIf='enabled==1' #logout><a [routerLink]="['/homeLink']">Logout</a></li>
        <li><a [routerLink]="['/aboutUsLink']">About Us</a></li>
        &nbsp;
        <button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" >
          Admin Area
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['/registerAdminLink']">Register Admin</a>
          <a class="dropdown-item" [routerLink]="['/loginAdminLink']">Login Admin</a>
        </div>
     
    </ul>
</div> 




<!-- <img class="hexislogo" src="assets/Hexis-logo-ver1.jpg" alt="Hexis-logo"> -->
<div class="main">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <p>All rights reserved &copy; Héxis Test Solutions 2021</p>
</div>

