<div class="header">
    <h2>
        Welcome to Héxis !
    </h2>
</div>

<div class="topnav">
    <ul>
        <li><a [routerLink]="['/homeLink']">Home</a></li>
        <li><a [routerLink]="['/registerLink']">Register</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">About Us</a></li>
    </ul>
</div>

<!-- <div class="landingBody">

    
    <br><br><br><br>
    <div style="text-align: center;">
        <a href="" >Admin Area</a>
        <a href="">User Area</a>
    </div>
   
    <br><br><br><br><br><br><br><br><br><br>
</div> -->


<div class="main">
    <router-outlet></router-outlet>

</div>

<div class="footer">
    All rights reserved &copy; Héxis Test Solutions 2021
</div>