<div class="container" style="padding-left: 200px;">
    <br><br>
  <div class="layer">
      <div class="sublayer" ><br>
      <h4>&nbsp;&nbsp;<i>Enter Question Id Here </i></h4>  
  <br>
  &nbsp;&nbsp;&nbsp;<input type="text" name="questionId" id="questionId" class="form-control" placeholder="Enter the question Id" [(ngModel)]=deleteQuestion.questionId #questionId=ngModel><br>
    <br>        &nbsp; &nbsp;&nbsp; <button class="btn btn-danger" type="button" (click)="deleteQuestions()">Remove Question</button><br><br>
      </div>
  </div>
  </div>
