@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');




table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
    font-weight: 300;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

