@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.landingBody{
    background-color: rgb(179, 248, 225);
}

.landingBody a{
    border: 2px solid red;
    text-align: center;
    margin: 100px;
    padding: 50px;
}

