@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.landingBody img{
    /* background-color: rgb(179, 248, 225); */
    /* background-image: url('src/assets/Landing-page.jpg'); */
    width: 100%;
    background-size: cover;
    padding: 3% 1% ;
    /* padding: 10%; */
    /* margin-left: 5%; */

}



.landingBody a{
    border: 2px solid red;
    text-align: center;
    margin: 100px;
    padding: 50px;
}

