<div class="sidenav">
  
  <!-- <img src="" 
  class="rounded-circle mx-auto d-block" alt="Profile Pic" width="100" height="100">  -->
  <br><br>  <br><br> <br><br> 
  
  <a [routerLink]="['/adminLink/viewAdminLink']">Your Profile</a> 
  <a [routerLink]="['/adminLink/addQuestionLink']">Add Question</a>
  <a [routerLink]="['/adminLink/deleteQuestionLink']">Delete Question</a>
  <a href="#updateQ">Update Question</a>
  <a href="#generateR">Generate Report</a>
  <a href="#viewStudent">View Student Profile</a>
  <a [routerLink]="['/homeLink']">Logout</a>
</div>

<div class="main" style="padding-left: 20px;">
  <h1 style=" background-color: rgba(169, 169, 169, 0.527); text-align: center;">Dashboard</h1>
</div>


<router-outlet></router-outlet>
