<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

<div class="dashhead" *ngIf='true'>
    <div class="left-area">
      <h2>Dashboard</h2>
      
    </div>
    <div class="sidebar">      
      <a [routerLink]="['/userDashboard/selectExamLink']"><span>Select Exams</span></a>
      <a [routerLink]="['/userDashboard/viewUserProfile']"><span>View Profile</span></a>
      <a [routerLink] ="['/userDashboard/viewAllReportsLink']"><span>View Reports</span></a>
      <a [routerLink] ="['/userDashboard']">Back to Dashboard</a>
      <a [routerLink] ="['/loginLink']" (click)="logout()"><span>Logout</span></a>
      
    </div>
  
    
  </div>

  
  
<div class="welcome-msg">
    <h3>Welcome {{ user.fullName }} !</h3>
   
</div>



<router-outlet></router-outlet>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


  
  
  
  
  
  
  