/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css');
@import url('https://unpkg.com/@popperjs/core@2');

/* @import url('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js');  */
/* @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'); */
/* @import url('https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css'); */
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header>h2{
    text-align: center;
    padding: 0px;
    margin-right: 647px;
    margin-top: 50px;
    background-color: white;
    /* display: inline-block; */
    float: right;
}

.topnav{
    /* background-color: rgb(163, 245, 221); */
    background-color: rgb(238, 255, 140);
    
}
.topnav>ul{
    /* border: 1px solid green; */
    padding: 35px 0px 40px 20px;
    overflow: hidden;
    margin-left: 63%;
    /* display: inline-block; */
}
.topnav>ul>li{
    display: inline;
    margin-left: 30px;
    line-height: 50px;
    
}
.topnav>ul>li>a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
    color: rgb(255, 0, 0);
    
}

.topnav button{
  /* padding: 20px; */
  display: inline;
  margin-bottom: 1.46%;
  font-size: 17.5px;
}
.hexislogo{
    width: 14%;
    height: 14%;
    float: left;
}


.footer{
    text-align: center;
    padding: 20px 20px 0px 20px;
    height: 100px;
    background-color: lightgray;
    /* display: flex; */
    /* flex-direction: row; */
    /* position: fixed; */
    margin-top: auto;
    width: 100%;
    
}

.footer p{
    padding: 15px;
    font-size: 1.3em;
}

#footer{
    margin:0 auto;
    width:100%;
    background-color: lightgray;
    height:auto;
    overflow:hidden;
    position: fixed;
    bottom: 0px;
}
/* a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; } */

  

  



